@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  @apply text-slate-700 bg-gray-200 h-screen
  /* color: rgb(var(--foreground-rgb)); */
  /* background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */;
}

@layer base {
  .btn {
    @apply font-medium py-1 px-2 rounded;
  }
  .btn:disabled {
    @apply opacity-50 cursor-not-allowed;
  }
  .btn-gray {
    @apply bg-gray-300 text-gray-800;
  }
  .btn-gray:hover {
    @apply bg-gray-400;
  }
  .btn-blue {
    @apply bg-blue-500 text-white;
  }
  .btn-blue:hover {
    @apply bg-blue-700;
  }
  .btn-red {
    @apply bg-red-500 text-white;
  }
  .btn-red:hover {
    @apply bg-red-700 text-white;
  }
  .btn-green {
    @apply bg-green-500 text-white;
  }
  .btn-green:hover {
    @apply bg-green-700 text-white;
  }
  .btn-use {
    @apply min-w-9 btn btn-blue py-0.5 px-1.5 text-sm disabled:bg-gray-300 disabled:text-gray-800;
  }
  .search:focus-within {
    outline-color: currentcolor;
    outline-style: auto;
    outline-width: medium;
  }
  .statline > div {
    @apply mr-auto;
  }
  .statline > div:last-child {
    @apply mr-0;
  }
  .statline > div > div {
    @apply text-center;
  }
  .statsline-box {
    @apply inline-block p-1.5 mt-1 text-white bg-slate-700 aspect-square border h-10;
  }
  .weapon-statline > div {
    @apply text-center;
  }
  .game-interaction {
    @apply flex rounded p-2 hover:bg-slate-100;
  }
  .grid-rows-fit-content {
    grid-template-rows: fit-content(0);
  }
}

@keyframes text-nova {
  0% {
    text-shadow: 0 #fff;
    color: #fff;
  }
  5% {
    text-shadow: 0 0 9px #1ff, 0 0 18px #1ff, 0 0 24px #1ff, 0 0 36px #1ff;
    color: #1ff;
  }
  100% {
    text-shadow: 0 #fff;
  }
}

.text-nova {
  animation: text-nova 1.5s ease-out 1;
}

@keyframes box-nova {
  0% {
    box-shadow: 0 #fff;
    color: #fff;
  }
  5% {
    box-shadow: 0 0 9px #1ff, 0 0 18px #1ff;
    color: #1ff;
  }
  100% {
    box-shadow: 0 #fff;
  }
}

.box-nova {
  animation: box-nova 1.5s ease-out 1;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.grow-wrap {
  display: grid;
}
.grow-wrap::after {
  content: attr(data-replicated-value) " ";
  white-space: pre-wrap;
  visibility: hidden;
}
.grow-wrap > textarea {
  resize: none;
  overflow: hidden;
  text-align: center;
}
.grow-wrap > textarea,
.grow-wrap::after {
  padding: 0.5rem;
  font: inherit;
  grid-area: 1 / 1 / 2 / 2;
}
